<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    ></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h2 class="webHeading">Tech Book Blog</h2>
      <nav>
        <ul>
          <li>
            <a href="/"><h1>Home</h1></a>
          </li>
          <li>
            <a href="/dashboard"><h1>Dashboard</h1></a>
          </li>
          {{#unless loggedIn}}
            <li>
              <a href="/signUp"><h1>Login</h1></a>
            </li>
          {{/unless}}
          {{#if loggedIn}}
            <li>
              <a href="#" id="logoutBtn"><h1>Logout</h1></a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{body}}}<!---->
    </main>
    <footer></footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>
    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>