<div class="container" id="createPostContainer">
  <form>
    <h3 class="text-center mt-3">Create New Post</h3>
    <div class="form-group">
      <label for="title" class="mt-2 px-3">Title</label>
      <div class="px-2">
        <input type="text" class="form-control" id="title" />
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="px-3">Content</label>
      <div class="px-2">
        <textarea class="form-control" id="content" rows="4"></textarea>
      </div>
    </div>
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-dark btn-lg mt-1"
        id="createPost"
      >Create</button>
    </div>
  </form>
</div>