<div class="list-group">
  {{#each posts as |post|}}
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{post.title}}</h4>
        <small class="text-muted">Posted by
          {{post.author}}
          on
          {{post.publishedAt}}</small>
      </div>
      <p class="mb-1">{{post.content}}</p>
    </a>
  {{/each}}
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-dark btn-lg mt-4">+ Add New Post</button>
    </div>
  </div>
</div>